body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

.offers .MuiTableCell-root,
.offers .MuiInputBase-root,
.offers .MuiTypography-caption {
  font-family: Arial, Helvetica, sans-serif;
}
